# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/backend_booksservice/server/node_modules
/backend_customersservice/server/node_modules
/backend_ordersservice/server/node_modules
/backend_apigatewayservice/server/node_modules
/frontend_web/node_modules
/frontend_web/build


